--with-poll_module
--with-http_ssl_module
--with-http_dav_module
--with-http_gzip_static_module
--with-stream_ssl_preread_module
--without-http_charset_module
--without-http_geo_module
--without-http_map_module
--without-http_limit_conn_module
--without-http_upstream_hash_module
--without-http_upstream_ip_hash_module
--without-http_upstream_random_module
--without-stream_return_module
--without-stream_upstream_least_conn_module
