--with-http_v2_module
--with-http_xslt_module
--with-http_image_filter_module=dynamic
--with-http_gzip_static_module
--with-stream=dynamic
--without-http_proxy_module
--without-http_memcached_module
--without-http_limit_conn_module
--without-http_empty_gif_module
--without-mail_imap_module
--without-stream_upstream_random_module
