--with-http_ssl_module
--with-http_xslt_module
--with-http_dav_module
--with-http_random_index_module
--without-poll_module
--without-http_mirror_module
--without-http_rewrite_module
--without-http_memcached_module
--without-http_limit_conn_module
--without-http_empty_gif_module
--without-mail_imap_module
--without-mail_smtp_module
--without-stream_geo_module
