--with-select_module
--with-threads
--with-http_realip_module
--with-http_addition_module
--with-http_xslt_module
--with-http_xslt_module=dynamic
--with-http_image_filter_module
--with-http_sub_module
--with-http_flv_module
--with-http_gunzip_module
--with-http_stub_status_module
--with-stream
--with-stream=dynamic
--with-stream_geoip_module
--with-stream_geoip_module=dynamic
--with-stream_ssl_preread_module
--with-google_perftools_module
--with-compat
--with-pcre
--with-zlib-asm=CPU
--with-libatomic
--without-poll_module
--without-http_charset_module
--without-http_userid_module
--without-http_access_module
--without-http_auth_basic_module
--without-http_autoindex_module
--without-http_geo_module
--without-http_map_module
--without-http_fastcgi_module
--without-http_uwsgi_module
--without-http_scgi_module
--without-http_memcached_module
--without-http_limit_conn_module
--without-http_upstream_least_conn_module
--without-http_upstream_random_module
--without-http_upstream_keepalive_module
--without-http_upstream_zone_module
--without-mail_pop3_module
--without-mail_smtp_module
--without-stream_limit_conn_module
--without-stream_access_module
--without-stream_map_module
--without-stream_return_module
--without-stream_upstream_hash_module
--without-stream_upstream_zone_module
