--with-select_module
--with-poll_module
--with-file-aio
--with-http_ssl_module
--with-http_v2_module
--with-http_realip_module
--with-http_xslt_module
--with-http_xslt_module=dynamic
--with-http_geoip_module
--with-http_sub_module
--with-http_flv_module
--with-http_mp4_module
--with-http_gunzip_module
--with-http_gzip_static_module
--with-http_secure_link_module
--with-http_slice_module
--with-http_perl_module=dynamic
--with-mail_ssl_module
--with-stream_ssl_module
--with-google_perftools_module
--with-compat
--with-zlib-asm=CPU
--with-libatomic
--with-debug
--without-select_module
--without-http_ssi_module
--without-http_autoindex_module
--without-http_map_module
--without-http_referer_module
--without-http_rewrite_module
--without-http_proxy_module
--without-http_browser_module
--without-http_upstream_least_conn_module
--without-http_upstream_zone_module
--without-http-cache
--without-mail_imap_module
--without-mail_smtp_module
--without-stream_access_module
--without-stream_geo_module
--without-stream_split_clients_module
--without-stream_upstream_least_conn_module
--without-stream_upstream_zone_module
