--with-threads
--with-http_ssl_module
--with-http_v2_module
--with-http_image_filter_module
--with-http_image_filter_module=dynamic
--with-http_geoip_module
--with-http_secure_link_module
--with-http_stub_status_module
--with-mail
--with-mail=dynamic
--with-stream=dynamic
--with-stream_realip_module
--with-stream_geoip_module=dynamic
--with-stream_ssl_preread_module
--with-google_perftools_module
--with-pcre
--with-debug
--without-select_module
--without-http_charset_module
--without-http_ssi_module
--without-http_userid_module
--without-http_mirror_module
--without-http_rewrite_module
--without-http_proxy_module
--without-http_fastcgi_module
--without-http_scgi_module
--without-http_limit_conn_module
--without-http_limit_req_module
--without-http_empty_gif_module
--without-http_browser_module
--without-http_upstream_hash_module
--without-http_upstream_ip_hash_module
--without-http_upstream_least_conn_module
--without-http_upstream_random_module
--without-http_upstream_keepalive_module
--without-http_upstream_zone_module
--without-http-cache
--without-stream_split_clients_module
--without-stream_return_module
--without-stream_upstream_hash_module
--without-stream_upstream_random_module
