--with-select_module
--with-poll_module
--with-http_ssl_module
--with-http_addition_module
--with-http_xslt_module
--with-http_geoip_module
--with-http_flv_module
--with-http_mp4_module
--with-http_gunzip_module
--with-http_gzip_static_module
--with-http_random_index_module
--with-http_secure_link_module
--with-mail
--with-mail_ssl_module
--with-stream=dynamic
--with-stream_ssl_module
--with-stream_geoip_module
--with-stream_geoip_module=dynamic
--with-stream_ssl_preread_module
--with-google_perftools_module
--with-compat
--with-pcre
--with-pcre-jit
--with-zlib-asm=CPU
--with-libatomic
--with-debug
--without-select_module
--without-http_ssi_module
--without-http_userid_module
--without-http_auth_basic_module
--without-http_mirror_module
--without-http_map_module
--without-http_rewrite_module
--without-http_proxy_module
--without-http_fastcgi_module
--without-http_uwsgi_module
--without-http_grpc_module
--without-http_memcached_module
--without-http_upstream_ip_hash_module
--without-http_upstream_least_conn_module
--without-http-cache
--without-mail_pop3_module
--without-mail_imap_module
--without-stream_limit_conn_module
--without-stream_return_module
--without-stream_upstream_random_module
