--with-poll_module
--with-threads
--with-http_realip_module
--with-http_image_filter_module=dynamic
--with-http_geoip_module
--with-http_sub_module
--with-http_flv_module
--with-http_mp4_module
--with-http_gunzip_module
--with-http_secure_link_module
--with-mail
--with-mail=dynamic
--with-stream
--with-stream=dynamic
--with-stream_ssl_module
--with-stream_realip_module
--with-compat
--with-pcre-jit
--with-debug
--without-select_module
--without-http_gzip_module
--without-http_ssi_module
--without-http_userid_module
--without-http_access_module
--without-http_auth_basic_module
--without-http_mirror_module
--without-http_referer_module
--without-http_rewrite_module
--without-http_uwsgi_module
--without-http_scgi_module
--without-http_limit_conn_module
--without-http_empty_gif_module
--without-http_upstream_ip_hash_module
--without-http_upstream_least_conn_module
--without-http_upstream_keepalive_module
--without-http_upstream_zone_module
--without-http
--without-http-cache
--without-mail_pop3_module
--without-mail_smtp_module
--without-stream_limit_conn_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_return_module
--without-stream_upstream_hash_module
--without-stream_upstream_random_module
--without-stream_upstream_zone_module
--without-pcre
