--with-select_module
--with-threads
--with-file-aio
--with-http_addition_module
--with-http_sub_module
--with-http_dav_module
--with-http_flv_module
--with-http_gunzip_module
--with-http_gzip_static_module
--with-http_random_index_module
--with-http_secure_link_module
--with-mail_ssl_module
--with-stream
--with-stream_ssl_module
--with-stream_realip_module
--with-stream_geoip_module=dynamic
--with-compat
--with-pcre
--with-pcre-jit
--with-debug
--without-select_module
--without-http_gzip_module
--without-http_auth_basic_module
--without-http_mirror_module
--without-http_referer_module
--without-http_proxy_module
--without-http_uwsgi_module
--without-http_scgi_module
--without-http_browser_module
--without-http_upstream_random_module
--without-http_upstream_keepalive_module
--without-http_upstream_zone_module
--without-http-cache
--without-stream_geo_module
--without-stream_split_clients_module
--without-stream_upstream_hash_module
--without-stream_upstream_random_module
