--with-threads
--with-http_realip_module
--with-http_addition_module
--with-http_xslt_module
--with-http_image_filter_module=dynamic
--with-http_geoip_module=dynamic
--with-http_sub_module
--with-http_dav_module
--with-http_flv_module
--with-http_mp4_module
--with-http_gunzip_module
--with-http_gzip_static_module
--with-http_degradation_module
--with-http_slice_module
--with-mail_ssl_module
--with-stream
--with-stream_realip_module
--with-stream_geoip_module
--with-stream_geoip_module=dynamic
--with-compat
--without-poll_module
--without-http_gzip_module
--without-http_ssi_module
--without-http_userid_module
--without-http_access_module
--without-http_auth_basic_module
--without-http_mirror_module
--without-http_map_module
--without-http_referer_module
--without-http_rewrite_module
--without-http_uwsgi_module
--without-http_scgi_module
--without-http_memcached_module
--without-http_limit_req_module
--without-http_empty_gif_module
--without-http_upstream_least_conn_module
--without-http_upstream_keepalive_module
--without-http_upstream_zone_module
--without-http
--without-mail_pop3_module
--without-mail_smtp_module
--without-stream_access_module
--without-stream_split_clients_module
--without-stream_upstream_hash_module
--without-pcre
