--with-select_module
--with-poll_module
--with-http_ssl_module
--with-http_realip_module
--with-http_xslt_module
--with-http_image_filter_module
--with-http_image_filter_module=dynamic
--with-http_geoip_module=dynamic
--with-http_dav_module
--with-http_mp4_module
--with-http_random_index_module
--with-http_degradation_module
--with-mail
--with-stream
--with-stream=dynamic
--with-stream_ssl_module
--with-stream_realip_module
--with-stream_geoip_module
--with-stream_geoip_module=dynamic
--with-compat
--with-pcre
--with-libatomic
--without-poll_module
--without-http_ssi_module
--without-http_userid_module
--without-http_auth_basic_module
--without-http_autoindex_module
--without-http_referer_module
--without-http_fastcgi_module
--without-http_uwsgi_module
--without-http_scgi_module
--without-http_grpc_module
--without-http_memcached_module
--without-http_limit_req_module
--without-http_empty_gif_module
--without-http_upstream_hash_module
--without-http_upstream_ip_hash_module
--without-http_upstream_zone_module
--without-mail_imap_module
--without-mail_smtp_module
--without-stream_limit_conn_module
--without-stream_split_clients_module
--without-stream_return_module
--without-stream_upstream_hash_module
--without-stream_upstream_least_conn_module
--without-stream_upstream_zone_module
