--with-select_module
--with-poll_module
--with-threads
--with-http_ssl_module
--with-http_v2_module
--with-http_addition_module
--with-http_xslt_module=dynamic
--with-http_geoip_module=dynamic
--with-http_sub_module
--with-http_dav_module
--with-http_flv_module
--with-http_mp4_module
--with-http_random_index_module
--with-mail
--with-mail_ssl_module
--with-stream
--with-stream=dynamic
--with-stream_ssl_preread_module
--with-compat
--with-pcre
--with-pcre-jit
--with-debug
--without-poll_module
--without-http_charset_module
--without-http_ssi_module
--without-http_autoindex_module
--without-http_split_clients_module
--without-http_proxy_module
--without-http_grpc_module
--without-http_limit_conn_module
--without-http_limit_req_module
--without-http_empty_gif_module
--without-http_upstream_hash_module
--without-http_upstream_ip_hash_module
--without-http_upstream_keepalive_module
--without-http
--without-mail_pop3_module
--without-stream_limit_conn_module
--without-stream_access_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_split_clients_module
--without-stream_upstream_hash_module
--without-stream_upstream_zone_module
