--with-threads
--with-http_v2_module
--with-http_xslt_module
--with-http_geoip_module=dynamic
--with-http_sub_module
--with-http_dav_module
--with-http_random_index_module
--with-http_secure_link_module
--with-http_degradation_module
--with-http_stub_status_module
--with-mail
--with-mail=dynamic
--with-mail_ssl_module
--with-stream
--with-stream_realip_module
--with-stream_geoip_module=dynamic
--with-stream_ssl_preread_module
--with-debug
--without-select_module
--without-poll_module
--without-http_charset_module
--without-http_gzip_module
--without-http_ssi_module
--without-http_userid_module
--without-http_access_module
--without-http_autoindex_module
--without-http_geo_module
--without-http_map_module
--without-http_split_clients_module
--without-http_rewrite_module
--without-http_uwsgi_module
--without-http_memcached_module
--without-http_upstream_least_conn_module
--without-http_upstream_keepalive_module
--without-http_upstream_zone_module
--without-mail_pop3_module
--without-mail_imap_module
--without-mail_smtp_module
--without-stream_access_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_return_module
--without-stream_upstream_hash_module
--without-stream_upstream_least_conn_module
