--with-threads
--with-http_ssl_module
--with-http_v2_module
--with-http_xslt_module
--with-http_image_filter_module
--with-http_geoip_module
--with-http_geoip_module=dynamic
--with-http_mp4_module
--with-http_gunzip_module
--with-http_gzip_static_module
--with-http_degradation_module
--with-http_perl_module=dynamic
--with-mail=dynamic
--with-stream_realip_module
--with-stream_geoip_module
--with-google_perftools_module
--with-compat
--with-pcre
--with-pcre-jit
--with-zlib-asm=CPU
--with-debug
--without-http_charset_module
--without-http_geo_module
--without-http_map_module
--without-http_referer_module
--without-http_proxy_module
--without-http_uwsgi_module
--without-http_browser_module
--without-http_upstream_random_module
--without-http-cache
--without-mail_pop3_module
--without-mail_smtp_module
--without-stream_limit_conn_module
--without-stream_return_module
