--with-select_module
--with-poll_module
--with-threads
--with-http_realip_module
--with-http_addition_module
--with-http_xslt_module=dynamic
--with-http_image_filter_module
--with-http_mp4_module
--with-http_gunzip_module
--with-http_secure_link_module
--with-http_degradation_module
--with-http_perl_module=dynamic
--with-mail
--with-mail=dynamic
--with-stream
--with-stream_realip_module
--with-stream_geoip_module=dynamic
--with-zlib-asm=CPU
--with-libatomic
--with-debug
--without-select_module
--without-http_ssi_module
--without-http_userid_module
--without-http_auth_basic_module
--without-http_map_module
--without-http_split_clients_module
--without-http_rewrite_module
--without-http_proxy_module
--without-http_fastcgi_module
--without-http_uwsgi_module
--without-http_scgi_module
--without-http_limit_req_module
--without-http_upstream_zone_module
--without-http
--without-mail_pop3_module
--without-mail_imap_module
--without-mail_smtp_module
--without-stream_limit_conn_module
--without-stream_return_module
--without-stream_upstream_hash_module
--without-stream_upstream_least_conn_module
--without-stream_upstream_zone_module
