--with-poll_module
--with-http_addition_module
--with-http_xslt_module
--with-http_image_filter_module
--with-http_sub_module
--with-http_gzip_static_module
--with-http_random_index_module
--with-http_secure_link_module
--with-http_perl_module=dynamic
--with-mail
--with-stream=dynamic
--with-stream_ssl_module
--with-stream_realip_module
--with-stream_geoip_module
--with-stream_ssl_preread_module
--with-compat
--with-libatomic
--without-select_module
--without-http_userid_module
--without-http_auth_basic_module
--without-http_mirror_module
--without-http_autoindex_module
--without-http_split_clients_module
--without-http_referer_module
--without-http_rewrite_module
--without-http_fastcgi_module
--without-http_uwsgi_module
--without-http_grpc_module
--without-http_memcached_module
--without-http_limit_conn_module
--without-http_browser_module
--without-http_upstream_hash_module
--without-http_upstream_least_conn_module
--without-http_upstream_random_module
--without-http_upstream_keepalive_module
--without-http
--without-http-cache
--without-stream_limit_conn_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_return_module
