--with-select_module
--with-threads
--with-http_ssl_module
--with-http_v2_module
--with-http_realip_module
--with-http_xslt_module=dynamic
--with-http_image_filter_module=dynamic
--with-http_geoip_module
--with-http_geoip_module=dynamic
--with-http_sub_module
--with-http_dav_module
--with-http_flv_module
--with-http_mp4_module
--with-http_gunzip_module
--with-http_secure_link_module
--with-mail=dynamic
--with-stream_ssl_module
--with-stream_realip_module
--with-stream_ssl_preread_module
--with-google_perftools_module
--with-pcre
--with-pcre-jit
--with-libatomic
--without-http_ssi_module
--without-http_userid_module
--without-http_auth_basic_module
--without-http_geo_module
--without-http_referer_module
--without-http_rewrite_module
--without-http_proxy_module
--without-http_uwsgi_module
--without-http_memcached_module
--without-http_limit_conn_module
--without-http_limit_req_module
--without-http_empty_gif_module
--without-http_browser_module
--without-http_upstream_hash_module
--without-http_upstream_least_conn_module
--without-http_upstream_keepalive_module
--without-http_upstream_zone_module
--without-http
--without-mail_pop3_module
--without-mail_imap_module
--without-stream_limit_conn_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_upstream_least_conn_module
--without-stream_upstream_random_module
--without-pcre
