--with-select_module
--with-http_ssl_module
--with-http_realip_module
--with-http_image_filter_module=dynamic
--with-http_geoip_module=dynamic
--with-http_sub_module
--with-http_flv_module
--with-http_gzip_static_module
--with-http_auth_request_module
--with-http_random_index_module
--with-http_slice_module
--with-mail
--with-mail_ssl_module
--with-stream
--with-stream=dynamic
--with-stream_realip_module
--with-stream_geoip_module
--with-stream_geoip_module=dynamic
--with-stream_ssl_preread_module
--with-google_perftools_module
--with-pcre
--with-libatomic
--without-http_gzip_module
--without-http_access_module
--without-http_autoindex_module
--without-http_geo_module
--without-http_map_module
--without-http_rewrite_module
--without-http_fastcgi_module
--without-http_uwsgi_module
--without-http_grpc_module
--without-http_limit_req_module
--without-http_empty_gif_module
--without-http_browser_module
--without-http_upstream_hash_module
--without-http_upstream_least_conn_module
--without-http_upstream_random_module
--without-http
--without-http-cache
--without-mail_imap_module
--without-mail_smtp_module
--without-stream_limit_conn_module
--without-stream_map_module
--without-stream_return_module
--without-stream_upstream_hash_module
--without-pcre
