--with-threads
--with-http_ssl_module
--with-http_v2_module
--with-http_xslt_module
--with-http_image_filter_module=dynamic
--with-http_geoip_module
--with-http_geoip_module=dynamic
--with-http_dav_module
--with-http_mp4_module
--with-http_gzip_static_module
--with-http_auth_request_module
--with-http_degradation_module
--with-http_stub_status_module
--with-mail=dynamic
--with-stream
--with-stream_geoip_module
--with-stream_ssl_preread_module
--with-google_perftools_module
--with-pcre
--with-pcre-jit
--without-select_module
--without-http_ssi_module
--without-http_userid_module
--without-http_access_module
--without-http_mirror_module
--without-http_map_module
--without-http_referer_module
--without-http_rewrite_module
--without-http_uwsgi_module
--without-http_grpc_module
--without-http_memcached_module
--without-http_limit_req_module
--without-http_empty_gif_module
--without-http_browser_module
--without-http
--without-mail_pop3_module
--without-mail_imap_module
--without-mail_smtp_module
--without-stream_access_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_upstream_hash_module
--without-stream_upstream_least_conn_module
--without-stream_upstream_random_module
--without-pcre
