--with-poll_module
--with-threads
--with-http_v2_module
--with-http_xslt_module
--with-http_xslt_module=dynamic
--with-http_image_filter_module=dynamic
--with-http_geoip_module=dynamic
--with-http_sub_module
--with-http_gunzip_module
--with-http_secure_link_module
--with-http_degradation_module
--with-http_slice_module
--with-http_stub_status_module
--with-mail
--with-mail_ssl_module
--with-stream
--with-stream=dynamic
--with-stream_realip_module
--with-stream_geoip_module=dynamic
--with-stream_ssl_preread_module
--with-google_perftools_module
--with-pcre
--with-pcre-jit
--without-poll_module
--without-http_gzip_module
--without-http_ssi_module
--without-http_userid_module
--without-http_auth_basic_module
--without-http_mirror_module
--without-http_geo_module
--without-http_map_module
--without-http_split_clients_module
--without-http_uwsgi_module
--without-http_memcached_module
--without-http_limit_conn_module
--without-http_limit_req_module
--without-http_upstream_ip_hash_module
--without-http_upstream_least_conn_module
--without-http_upstream_keepalive_module
--without-http
--without-mail_pop3_module
--without-stream_limit_conn_module
--without-stream_geo_module
--without-stream_upstream_least_conn_module
--without-stream_upstream_zone_module
--without-pcre
