--with-select_module
--with-threads
--with-http_ssl_module
--with-http_image_filter_module
--with-http_image_filter_module=dynamic
--with-http_dav_module
--with-mail
--with-stream=dynamic
--with-stream_ssl_module
--with-stream_realip_module
--with-stream_ssl_preread_module
--with-google_perftools_module
--with-pcre
--with-zlib-asm=CPU
--with-libatomic
--without-select_module
--without-http_charset_module
--without-http_userid_module
--without-http_mirror_module
--without-http_autoindex_module
--without-http_geo_module
--without-http_map_module
--without-http_rewrite_module
--without-http_proxy_module
--without-http_scgi_module
--without-http_grpc_module
--without-http_limit_conn_module
--without-http_limit_req_module
--without-http_empty_gif_module
--without-http_upstream_hash_module
--without-http_upstream_ip_hash_module
--without-http_upstream_keepalive_module
--without-http
--without-mail_smtp_module
--without-stream_limit_conn_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_upstream_hash_module
--without-stream_upstream_least_conn_module
--without-pcre
