--with-select_module
--with-poll_module
--with-http_v2_module
--with-http_realip_module
--with-http_addition_module
--with-http_xslt_module=dynamic
--with-http_image_filter_module
--with-http_sub_module
--with-http_dav_module
--with-http_gunzip_module
--with-http_gzip_static_module
--with-http_random_index_module
--with-http_secure_link_module
--with-http_degradation_module
--with-http_perl_module=dynamic
--with-mail=dynamic
--with-mail_ssl_module
--with-stream
--with-stream_realip_module
--with-compat
--with-pcre-jit
--with-libatomic
--without-select_module
--without-http_gzip_module
--without-http_userid_module
--without-http_autoindex_module
--without-http_geo_module
--without-http_map_module
--without-http_referer_module
--without-http_rewrite_module
--without-http_proxy_module
--without-http_fastcgi_module
--without-http_uwsgi_module
--without-http_scgi_module
--without-http_grpc_module
--without-http_memcached_module
--without-http_limit_req_module
--without-http_browser_module
--without-http_upstream_hash_module
--without-http_upstream_keepalive_module
--without-http_upstream_zone_module
--without-http-cache
--without-mail_pop3_module
--without-mail_smtp_module
--without-stream_upstream_least_conn_module
--without-stream_upstream_random_module
