--with-threads
--with-file-aio
--with-http_ssl_module
--with-http_xslt_module
--with-http_xslt_module=dynamic
--with-http_image_filter_module
--with-http_geoip_module
--with-http_geoip_module=dynamic
--with-http_flv_module
--with-http_mp4_module
--with-http_gunzip_module
--with-http_gzip_static_module
--with-http_secure_link_module
--with-http_degradation_module
--with-mail=dynamic
--with-mail_ssl_module
--with-stream_ssl_module
--with-stream_realip_module
--with-stream_geoip_module
--with-stream_ssl_preread_module
--with-google_perftools_module
--with-compat
--with-pcre-jit
--without-poll_module
--without-http_charset_module
--without-http_gzip_module
--without-http_auth_basic_module
--without-http_geo_module
--without-http_map_module
--without-http_uwsgi_module
--without-http_grpc_module
--without-http_memcached_module
--without-http_limit_conn_module
--without-http_empty_gif_module
--without-http_upstream_hash_module
--without-http_upstream_random_module
--without-http_upstream_keepalive_module
--without-http_upstream_zone_module
--without-mail_imap_module
--without-mail_smtp_module
--without-stream_limit_conn_module
--without-stream_access_module
--without-stream_map_module
--without-stream_upstream_hash_module
