--with-select_module
--with-http_ssl_module
--with-http_addition_module
--with-http_geoip_module=dynamic
--with-http_dav_module
--with-http_gunzip_module
--with-mail=dynamic
--with-mail_ssl_module
--with-google_perftools_module
--with-compat
--with-pcre-jit
--with-zlib-asm=CPU
--with-libatomic
--without-select_module
--without-http_charset_module
--without-http_map_module
--without-http_split_clients_module
--without-http_rewrite_module
--without-http_proxy_module
--without-http_uwsgi_module
--without-http_grpc_module
--without-http_empty_gif_module
--without-http_upstream_hash_module
--without-http_upstream_least_conn_module
--without-http_upstream_zone_module
--without-http
--without-http-cache
--without-mail_imap_module
--without-mail_smtp_module
--without-stream_limit_conn_module
--without-stream_access_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_split_clients_module
--without-stream_return_module
--without-stream_upstream_least_conn_module
--without-stream_upstream_zone_module
--without-pcre
