--with-threads
--with-http_ssl_module
--with-http_realip_module
--with-http_xslt_module
--with-http_image_filter_module=dynamic
--with-http_geoip_module
--with-http_sub_module
--with-http_dav_module
--with-http_mp4_module
--with-http_degradation_module
--with-http_perl_module=dynamic
--with-mail
--with-mail_ssl_module
--with-stream=dynamic
--with-stream_ssl_module
--with-stream_geoip_module
--with-stream_ssl_preread_module
--with-compat
--with-libatomic
--without-poll_module
--without-http_charset_module
--without-http_ssi_module
--without-http_userid_module
--without-http_access_module
--without-http_mirror_module
--without-http_autoindex_module
--without-http_geo_module
--without-http_map_module
--without-http_referer_module
--without-http_rewrite_module
--without-http_proxy_module
--without-http_limit_conn_module
--without-http_empty_gif_module
--without-http_upstream_hash_module
--without-http_upstream_ip_hash_module
--without-http_upstream_keepalive_module
--without-http
--without-mail_imap_module
--without-mail_smtp_module
--without-stream_limit_conn_module
--without-stream_access_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_return_module
--without-stream_upstream_hash_module
--without-stream_upstream_zone_module
