--with-select_module
--with-poll_module
--with-http_ssl_module
--with-http_realip_module
--with-http_xslt_module
--with-http_xslt_module=dynamic
--with-http_image_filter_module=dynamic
--with-http_geoip_module=dynamic
--with-http_sub_module
--with-http_flv_module
--with-http_gzip_static_module
--with-http_random_index_module
--with-http_secure_link_module
--with-http_slice_module
--with-mail=dynamic
--with-mail_ssl_module
--with-stream_ssl_module
--with-stream_ssl_preread_module
--with-pcre
--without-select_module
--without-poll_module
--without-http_ssi_module
--without-http_access_module
--without-http_auth_basic_module
--without-http_geo_module
--without-http_split_clients_module
--without-http_proxy_module
--without-http_grpc_module
--without-http_limit_conn_module
--without-http_limit_req_module
--without-http_empty_gif_module
--without-http_browser_module
--without-http_upstream_ip_hash_module
--without-http_upstream_zone_module
--without-http
--without-http-cache
--without-stream_limit_conn_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_upstream_least_conn_module
--without-stream_upstream_random_module
