--with-select_module
--with-poll_module
--with-threads
--with-http_v2_module
--with-http_addition_module
--with-http_xslt_module=dynamic
--with-http_image_filter_module=dynamic
--with-http_auth_request_module
--with-http_secure_link_module
--with-http_perl_module=dynamic
--with-mail_ssl_module
--with-stream_ssl_module
--with-stream_ssl_preread_module
--with-pcre
--with-pcre-jit
--with-debug
--without-select_module
--without-poll_module
--without-http_gzip_module
--without-http_userid_module
--without-http_mirror_module
--without-http_autoindex_module
--without-http_geo_module
--without-http_split_clients_module
--without-http_rewrite_module
--without-http_proxy_module
--without-http_limit_req_module
--without-http_browser_module
--without-http_upstream_hash_module
--without-http_upstream_ip_hash_module
--without-http_upstream_least_conn_module
--without-http_upstream_random_module
--without-http_upstream_zone_module
--without-http-cache
--without-mail_pop3_module
--without-mail_imap_module
--without-stream_access_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_return_module
--without-stream_upstream_hash_module
--without-stream_upstream_zone_module
