--with-select_module
--with-threads
--with-file-aio
--with-http_ssl_module
--with-http_addition_module
--with-http_geoip_module=dynamic
--with-http_gunzip_module
--with-http_gzip_static_module
--with-http_auth_request_module
--with-http_random_index_module
--with-stream
--with-stream=dynamic
--with-stream_ssl_module
--with-stream_realip_module
--with-stream_geoip_module
--with-compat
--with-pcre-jit
--with-zlib-asm=CPU
--with-debug
--without-select_module
--without-http_ssi_module
--without-http_mirror_module
--without-http_map_module
--without-http_proxy_module
--without-http_browser_module
--without-http_upstream_hash_module
--without-http_upstream_least_conn_module
--without-http_upstream_keepalive_module
--without-http_upstream_zone_module
--without-mail_imap_module
--without-stream_access_module
--without-stream_split_clients_module
--without-stream_upstream_least_conn_module
--without-stream_upstream_random_module
--without-stream_upstream_zone_module
