--with-threads
--with-http_xslt_module
--with-http_xslt_module=dynamic
--with-http_image_filter_module=dynamic
--with-http_geoip_module=dynamic
--with-http_sub_module
--with-http_dav_module
--with-http_random_index_module
--with-http_degradation_module
--with-http_stub_status_module
--with-mail
--with-stream=dynamic
--with-stream_realip_module
--with-stream_geoip_module=dynamic
--with-pcre
--with-zlib-asm=CPU
--with-libatomic
--without-http_gzip_module
--without-http_access_module
--without-http_geo_module
--without-http_map_module
--without-http_split_clients_module
--without-http_referer_module
--without-http_proxy_module
--without-http_uwsgi_module
--without-http_scgi_module
--without-http_memcached_module
--without-http_limit_conn_module
--without-http_upstream_ip_hash_module
--without-http_upstream_least_conn_module
--without-http_upstream_keepalive_module
--without-http_upstream_zone_module
--without-mail_pop3_module
--without-stream_limit_conn_module
--without-stream_geo_module
--without-stream_map_module
--without-stream_return_module
--without-stream_upstream_hash_module
--without-stream_upstream_least_conn_module
--without-stream_upstream_zone_module
